.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px 7.5px;
  overflow: hidden;
}

.large.menu-item {
  height: 380px;
}
.menu-item > .background-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.01);
  transition: transform 1s ease;
}
.menu-item:hover .background-image {
  transform: scale(1.1);
}

.menu-item:first-child {
  margin-right: 7.5px;
}
.menu-item:last-child {
  margin-left: 7.5px;
}

.content {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;

  background-color: #ffffff;
  opacity: 0.7;
  transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-item:hover .content {
  opacity: 0.9;
}

.content > .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

.content > .subtitle {
  font-weight: lighter;
  font-size: 16px;
}
