.form-input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 2px solid #cfcfcf;
  width: 100%;
  margin: 30px 0;
  line-height: 20px;
  font-size: 16px;
  background-color: transparent;

  position: relative;
  z-index: 2;
}

.form-input-group {
  /* max-width: 400px; */
  /* margin: auto; */
  /* width: 100%; */
  position: relative;
}
.form-input-label {
  color: #8a8a8a;
  position: absolute;
  z-index: 1;
  top: 0;
  transition: top 0.3s;
}

.shrink,
.form-input:focus ~ .form-input-label {
  font-size: 10px;
  top: -20px;
}
